body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    line-height: 2;
    color: #66BFBF;
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', cursive;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', cursive;
}

.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 80px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;  
}

.top-cloud {
    position: absolute;
    right: 30%;
}

.words {
    position: relative;
    top: 30px;
}

.footer-link {
    color: #11999E;
    position: relative;
    top: 40px;
    margin: 70px 7px;
}

.footer-link:hover {
    color: white;
}

.skill-row {
    width: 50%;
    margin: 120px auto;
    text-align: left;
    line-height: 2;
    color: #40514E;
}

.easygoing {
    position: relative;
    width: 35%;
    float: right;
    margin-left: 30px;
}

.responsibility {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.typing {
    width: 40%;
    float: left;
    margin-right: 20px;
}

.profile-picture {
    width: 30%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 20px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    height: 160px;
    text-align: center;
}

.copyright {
    color: #EAF6F6;
    position: relative;
    margin: 80px auto;
}

.contact-me {
    width: 50%;
    margin: 50px auto;
    line-height: 50px;
}

hr {
    border-color: #EAF6F6;   /*#a4a4a4 */
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 5%;
    margin: 25px auto;
    
}

.unique-text {
    width: 28%;
    line-height: 2;
    margin: 0 auto;
}